<div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card baCardClass="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">                
                <th class="icon-column">
                    <div *ngIf="!newRow" title="Add Archytype" class="icons-list success" (click)="onAdd($event)">
                        <i class="ion-android-add-circle addCtrl"></i>
                    </div>
                </th>
                <th>Class</th>
                <th>Archytype</th>
                <th>Description</th>
                <th class="buttons-column"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="newRow" class="no-top-border">
                    <td class="icon-column"></td> 
                    <td ngClass="">
                         <select [(ngModel)]="newRow.class.classTypeEnum" class="form-control" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td><input [(ngModel)]="newRow.name" type="text" class="form-control"></td>
                    <td><input [(ngModel)]="newRow.description" type="text" class="form-control"></td>
                    <td class="buttons-column">
                        <div class="row icons-list primary">
                            <div (click)="onSave($event)" title="Save" class="col-sm-4 col-xs-12"><i class="ion-checkmark-round control"></i></div>
                            <div (click)="onCancel($event)" title="Cancel" class="col-sm-4 col-xs-12"><i class="ion-close-round control"></i></div>
                        </div>
                    </td>
                </tr>    
                <tr *ngFor="let item of archytypes" class="no-top-border">
                    <td class="icon-column"> <img src="assets/img/app/classes/{{ item.class.classTypeEnum }}.png"></td> 
                    <td ngClass="nowrap">{{item.class.name}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td class="buttons-column">
                        <div class="row icons-list primary">
                            <div title="Edit" class="col-sm-4 col-xs-12"><i class="ion-edit control"></i></div>
                            <div title="Archive" class="col-sm-4 col-xs-12"><i class="ion-archive control"></i></div>
                            <div title="Remove" class="col-sm-4 col-xs-12"><i class="ion-close-round control"></i></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </ba-card>
    </div>
</div>