<?xml version="1.0" encoding="UTF-8"?>
 
<configuration>

    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>

    <system.webServer>
        <rewrite>
            <rules>
                <clear />    
                <!-- ignore static files -->
                <rule name="AngularJS Conditions" stopProcessing="true">
                    <match url="assets/(.*)|(.*).js|(.*).css|(.*).svg|(.*).eot|(.*).woff|(.*).woff2|(.*).ttf|(.*).jpg|(.*).png" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>